* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  background-color: #eff0f3;
}
h1 {
  text-align: center;
  padding: 10px;
  color: #0d0d0d;
  font-size: 60px;
}
.container {
  margin:20px;
  display: flex;
  justify-content: center;
}
#game-board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid #0d0d0d;
  border-radius: 5px;
  font-size:50px;
  color: #d9376e
}

.button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  }

button {
  background-color: #ff8e3c;
  border: none;
  width: 200px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 3rem;
  opacity: .7;
  cursor: pointer;
  text-decoration: none;
 
}

button:hover {
  opacity: 1;
  transition: ease-in-out 99ms;
}
button:focus {outline:0;}